<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paperplane</title>
</head>
<body>
    <div id="app"></div>
    <script src="./js_dev/jquery-1.11.2.min.js"></script>
    <script src="./js_dev/bootstrap.min.js"></script>
    <script src="./js_dev/owl.carousel.min.js"></script>
    <script src="./js_dev/contact.js"></script>
    <script src="./js_dev/jquery.flexslider.js"></script>
    <script src="./js_dev/script.js"></script>
</body>
</html>